# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE specific files
.idea/
.vscode/

# Environment variables
.env
*.env

# Local development files and directories
venv/
.env/

# Miscellaneous
*.log
*.swp
.DS_Store